<!DOCTYPE html>
<html>
<style>
  html {
    font-size: 1.25rem;
  }

  li {
    color: rgb(92, 91, 91);
  }

  p {
    color: rgb(92, 91, 91);
  }

  body {
    font-family: 'Roboto', sans-serif;

  }
</style>

<head>
  <title>FitdissBolin</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,500&display=swap"
    rel="stylesheet">
</head>

<body>
  <h1><strong>FitdissBolin Powerlifting Team</strong></h1>

  <style>
    #description {
      text-align: center;
    }
  </style>

  <h2><strong>Application</strong></h2>
  <ul>
    <li>To apply select <a href="/apply">Here</a></li>
  </ul>
  <hr>
  <div id="description">
    <h2><u>HERE FOR YOU</u></h2>
    <img src="http://localhost:3000/images/powerliftingLogo.jpg">
    <p>FitdissBolin is a team of one coach and athletes who are passionate for the sport of powerlifting and for helping
      others.
    </p>

    <p>
      Our mission is to provide comprehensive online coaching and education to help others reach their goals and achieve
      the best version of themselves.
    </p>

  </div>

  <hr>
  <style>
    .center {
      text-align: center;
    }
  </style>
  <div class="center">
    <h2>
      <u>Our Services</u>
    </h2>

  </div>
  <h3>
    POWERLIFTING COACHING
  </h3>
  <p>
    Take your training to the next level with our 1-on-1 Weekly Coaching service!
  </p>
  <p>
    This service is provided remotely by our Powerlifting Coaches and includes unlimited communication with your coach,
    weekly individualized programming, monthly check-ins via phone/video call, technique analysis and improvement, meet
    preparation and attempt selections, and more.
  </p>
  <p>
    We offer other Powerlifting Coaching services, too!
  </p>
  <ul>
    <li>
      Custom Training Cycles (4 weeks)
    </li>
    <li>
      General Powerlifting Programs
    </li>
  </ul>
  <button>

    <a href="/apply">Get Started</a>
  </button>
  <hr>
  <div class="center">
    <h2><u>
        Your Coach
      </u>
    </h2>
  </div>
  <p>
    Colin is a Powerlifting Coach and the Founder of FitdissBolin. He has been competing in the USA
    Powerlifting federation since 2022 where he competes in the 100kg division, achieved first place in his class in the
    state of Maryland. He is a rising Senior of the University of Maryland, College Park, anticipating to graduate in
    Spring 2024.
  </p>
  <p>
    Colin strives to provide comprehensive, progressive and sustainable training. He hopes to motivate and inspire
    others, to show them they can achieve whatever they put their mind to.
  </p>
  <p>
    Instagram Page: <img src="http://localhost:3000/images/igLogo.png" style="width: 1rem; height: auto;">
    <a href="https://www.instagram.com/fitdissbolin/" target="_blank">fitdissbolin</a>
  
   
  </p>

</body>
<hr>

<footer>
  <style>
    footer {
      bottom: 0;
      width: 100%;
    }

    #footerlink {
      text-align: center;
      background-color: rgb(92, 91, 91);
      color: white;
      padding: 10px;
    }
  </style>
  <div id="footerlink">
    <a href="/">&copy; 2023, FitdissBolin</a>
  </div>
</footer>

</html>